<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Analyzing 26 Seasons of The Simsons using Natural Language Processing (NLP)</title>

        <!-- Link to Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">

        <!-- Link to Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Link to Plotly CDN -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Link to d3 CDN -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

    </head>

    <body>

      <!--Nav Bar-->
      <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Team The Simpsons</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">About</a>
              <a class="nav-item nav-link" href="#">Contact</a>
            </div>
          </div>
        </nav>
      </div>

        <!-- Jumbotron -->
        <div class="container">
            <div class="jumbotron">

                  <h1 class="display-4">The Simpsons x Natural Language Processing</h1>
                    <p class="lead">Analyzing 26 Seasons of The Simpsons Using Natural Language Processing (NLP)</p>

                  <hr class="my-4">

                  <p>For our second project, we analyzed the language patterns and complexity from the characters of The Simpsons over the page 26 seasons.</p>

                  <p class="lead">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                      Learn More About Team Simpsons
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">About Team Simpsons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                                <br>
                                <br>

                                Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                                <br>
                                <br>

                                Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                                <br>
                                <br>

                                Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p>
            </div>
        </div>

        <!-- Network Chart -->
        <div class='container'>
            <div id='summaryChart'>
            <center>
                <h2>Overall Summary of Speech Sopistication</h2>
                <img src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg">
            </center>
            </div>
        </div>

        <br>
        <br>
        <br>


        <!-- Summary Container -->
        <div class='container'>
            <div id='frontMatter'>
                <div class='row'>
                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>Summary 1</h2>
                            <p>
                            Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                            <br>

                            Vide duis definitiones eu nam, pri id sint causae. Meis labitur concludaturque eu eam. Tota lucilius ut vis. Id aliquando conclusionemque sed, qui atqui iusto noluisse id, vero vide mel eu. Unum eirmod nusquam eos ex, usu cu ludus conclusionemque. At appetere suscipiantur sit, option delicata ei eam.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>Summary 2</h2>
                            <p>
                            Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                            <br>

                            Vide duis definitiones eu nam, pri id sint causae. Meis labitur concludaturque eu eam. Tota lucilius ut vis. Id aliquando conclusionemque sed, qui atqui iusto noluisse id, vero vide mel eu. Unum eirmod nusquam eos ex, usu cu ludus conclusionemque. At appetere suscipiantur sit, option delicata ei eam.
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>Summary 3</h2>
                            <p>
                            Lorem ipsum dolor sit amet, cu eam sale errem deleniti, cum an exerci volutpat. Eum cu constituam delicatissimi, vel error nonumes ex. No simul blandit ancillae duo, dicit percipitur nec ea. Sonet intellegam conclusionemque et nec, ea mazim constituto mei, qui accumsan accusata id. Ex vel mazim doctus reformidans.

                            <br>

                            Vide duis definitiones eu nam, pri id sint causae. Meis labitur concludaturque eu eam. Tota lucilius ut vis. Id aliquando conclusionemque sed, qui atqui iusto noluisse id, vero vide mel eu. Unum eirmod nusquam eos ex, usu cu ludus conclusionemque. At appetere suscipiantur sit, option delicata ei eam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Area for the Simpsons Quote Generator -->
        <div class='container'>
            <div class='quote'>
                <center>
                    <blockquote class="blockquote">
                    </blockquote>
                </center>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- NLP Charts -->
        <div class='container'>
            <center>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Character
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                </div>
            </div>
            </center>
        </div>

        <br>
        <br>
        <br>

        <div class='container'>
            <div id='characterCharts'>
                <div class="row">

                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h3>Chart 1</h3>
                            <img src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div id='chart2'>
                            <h3>Chart 2</h3>
                            <img src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div id='chart3'>
                            <h3>Chart 3</h3>
                            <img src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Network Chart -->
        <div class='container'>
            <center>
                <h2>Homer Body Part Analysis</h2>
                <img src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg">
            </center>
        </div>

        <br>
        <br>
        <br>

        <!-- Team Member Cards -->
        <div class='container'>
            <h2>Team Members</h2>
            <div id='networkCharts'>
                <div class='row'>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Victor Kuo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="https://github.com/victoryk13/"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/victor-kuo/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Sungwon Byun</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="https://github.com/sungwonb"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/sungwonbyun/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Felipe Sinohui</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="https://github.com/fsinohui"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/felipesinohui/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://i.ytimg.com/vi/43P7EEqjTDA/maxresdefault.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Grant Aguinaldo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="https://github.com/grantaguinaldo"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/grantaguinaldo/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <center>
            <i class="fab fa-python"></i>
            <i class="fab fa-js-square"></i>
            <i class="fab fa-html5"></i>
            <i class="fab fa-css3"></i>
            <i class="fab fa-html5"></i>
            <i class="fab fa-github"></i>
        </center>

        <br>
        <br>
        <br>

        <!-- Footer -->
        <div class='footer'>
            <p>Made With ❤ By Team The Simpsons</p>
        </div>

        <!-- Javascript Links -->

        <!-- Link to external Javascript file -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

        <!-- Link to jQuery Library -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <!-- Link to Bootstrap Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Link to Bootstrap Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>

