<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Analyzing 26 Seasons of The Simsons using Natural Language Processing (NLP)</title>

        <!-- Link to Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">

        <!-- Link to Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Link to Plotly CDN -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Link to d3 CDN -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        
    </head>

    <body>

        <!-- Jumbotron -->
        <div class="container">
            <div class="jumbotron">

                  <h1 class="display-4">The Simpsons x Natural Language Processing</h1>
                    <p class="lead">Can Natural Language Processing (NLP) find the character with the most sophsticated speech patterns?  </p>

                  <hr class="my-4">

                  <p>For our second project, we analyzed the language patterns and complexity from the characters of The Simpsons over the past 26 seasons.
                  </p>

            </div>
        </div>

        <br>
        <br>
        <br>


        <!-- Summary Container -->
        <div class='container'>
            <div id='frontMatter'>
                <div class='row'>
                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>About The Simpsons</h2>
                            <p>
                            The Simpsons are arguably one of the most popular prime-time television shows of all time. The show is a depiction of a working-class family (Homer, Marge, Bart, Lisa, and Maggie) who live in a fictional town of Springfield and often make parodies to pop culture and society.  More recently, attention has been called to television series due to their accurate predictions of future events.

                            <br>
                            <br>

                            We hope you enjoy this brief NLP analysis of more than 5,628,987 words that make up the 26 seasons of The Simpsons.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>Dataset Summary</h2>
                                <ul class="list-group">

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total Number of Lines Spoken
                                        <span class="badge badge-primary badge-pill">158,271</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total Number Words in Dataset
                                        <span class="badge badge-primary badge-pill">5,628,987</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total Number of Characters
                                        <span class="badge badge-primary badge-pill">6,722</span>
                                    </li>

                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total Number of Locations
                                        <span class="badge badge-primary badge-pill">4,459</span>
                                  </li>

                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Number of Episodes
                                        <span class="badge badge-primary badge-pill">600</span>
                                  </li>

                                </ul>

                            <br>
                            <h2>Dataset</h2>
                            <p>
                            The dataset that we used for this project was obtained from <a href="https://www.kaggle.com/wcukierski/the-simpsons-by-the-data">Kaggle</a>.
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div id='chart1'>
                            <h2>Flesch–Kincaid Readability Tests</h2>
                            The <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">Flesch-Kincaid Readability tests</a> inlcude two methods/tests from computational linguistics that determine how difficult a passage in English is to understand.
                            <br>
                            <br>
                            For the <strong>Flesch reading-ease</strong> test, scores range from 0-100 and higher scores indicate material that is easier to read.
                            <br>
                            <img src="https://s3.amazonaws.com/grantaguinaldo/data/reading-level.png">
                            <br>
                            <br>
                            For the <strong>Flesch–Kincaid Grade level</strong> test, scores can range -3.40 to 12 and relate to the grade level of the passage.
                            <br>
                            <img src='https://s3.amazonaws.com/grantaguinaldo/data/grade-level.png'>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class='container'>
            <center><h2>Analysis Questions</h2></center>
            <div id='frontMatter'>
                <div class='row'>
                    <div class="col-sm-4">
                        Who has the most complex and simplistic speech patterns of the top 50 characters from The Simpsons?
                    </div>
                    <div class="col-sm-4">
                        What is Flesch-Kincaid Grade Level and Readability scores of the inner monologues of various parts of Homer's body?
                    </div>
                    <div class="col-sm-4">
                         Which characters has spoken the most lines and words during the 26 seasons?
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Network Chart -->
        <div class='container'>
            <div id='summaryCharts'>
              <center><h2>Overall Summary of Speech Sopistication</h2></center>

                <div class='row'>
                    <div class="col-sm-12">
                       <div id='summaryChart'></div>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-sm-12">
                       <div id='syllableChart'></div>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-sm-12">
                       <div id='readabilityChart'></div>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-sm-12">
                       <div id='wordChart'></div>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Area for the Simpsons Quote Generator -->
        <div class='container'>
            <div class='quote'>
                <center>
                    <blockquote class="blockquote">
                    </blockquote>
                </center>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- NLP Charts -->
        <div class='container'>
            <center>
                <div class="col-sm-12" style="width: 480px; height: 200px;">
                    <h2>Character Selection</h2>
                        <select name='simpsonsDropdown' id="simpsonsDropdown" onchange="getSimpsonsData(this.value)">
                            <option value=#>Select Character</option>
                    </select>
                </div>
            </center>
        </div>

        <div class='container'>
            <div id='characterCharts'>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Character Speech Sophistication</h3>
                            <div id='scatterPlot'>
                            </div>
                    </div>

                    <div class="col-sm-6">
                        <div id='chart3'>
                            <center><h3>Character Metadata</h3></center>
                            <ul id='metaList'>

                            </ul>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class='row'>
                  <div class="col-sm-12">
                    <center><h2>Character Word Cloud</h2></center>
                      <center>
                          <div id='wordCloud'>

                          </div>
                      </center>

                      </div>
                  </div>
                </div>

            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Network Chart -->
        <div class='container'>
            <center><h2>Analysis of Homer Simpson's Inner Monologues</h2></center>
            <br>
            <div class='row'>
                <div class="col-sm-12">
                    <center>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WQh9g-ZApRI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </center>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class="col-sm-6">
                    <br>
                    <table class="table table-hover">
                          <center><thead>
                            <tr>
                              <th scope="col">Entry</th>
                              <th scope="col">Inner Monologue</th>
                              <th scope="col">Word Count</th>
                              <th scope="col">Flesch Readability</th>
                              <th scope='col'>Flesch-Kincaid Grade</th>
                            </tr>
                          </center></thead>

                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Character</td>
                              <td>680,208</td>
                              <td>99.75</td>
                              <td>2.71</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Sprit</td>
                              <td>11</td>
                              <td>118.51</td>
                              <td>-2.36</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Feet</td>
                              <td>10</td>
                              <td>112.09</td>
                              <td>0.11</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Hand</td>
                              <td>7</td>
                              <td>115.13</td>
                              <td>-1.06</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Stomach</td>
                              <td>7</td>
                              <td>120.46</td>
                              <td>-3.11</td>
                            </tr>
                            <tr>
                              <th scope="row">6</th>
                              <td>Mouth</td>
                              <td>6</td>
                              <td>116.46</td>
                              <td>-1.45</td>
                            </tr>
                            <tr>
                              <th scope="row">7</th>
                              <td>Brain</td>
                              <td>1,489</td>
                              <td>97.24</td>
                              <td>0.99</td>
                            </tr>
                          </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <center>
                        <img id='homer' src="https://s3.amazonaws.com/grantaguinaldo/data/homer-cropped.jpg" >
                    </center>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <center><h2>Map of Locations</h2></center>
                    <div id="locationMap">
                        <p>
                            This is where Sungwon's map will go.
                        </p>

                    </div>
                </div>

            </div>
        </div>

        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <center><h2>Project Summary</h2></center>
                <p>

                    From our analysis of more than 158,271 lines (or 5,628,987 words) of The Simpsons, we have identified the following trends/patterns.

                    <br>
                    <br>

                    <strong>First</strong>, in general, the speech patterns of the characters seem to be at levels below the average human.  Specifically, we find that average Flesch-Kincaid Readability is 90.45 and the weighted average Flesch-Kincaid grade level is 2.12.  During our analysis we did notice that Lisa Simpson does have the most sophisticated speech patterns out of all of the characters with a readability score of 93.63 and a grade level of 5.51.

                    <br>
                    <br>

                    <strong>Second</strong>, from the scripts, it is possible to both identify and analyze the inner monologues of Homer Simpson.  From our analysis, we found that there are six different parts of Homer's body that have inner monologues.  Of these six, the part with the largest role is Homer's Brain.  While the readability scores of Homer's brain is similar to the character, his brain does appear to speak at a lower Flesch-Kincaid grade level.

                    <br>
                    <br>

                    <strong>Third</strong>, based on the overall word count frequencies, it appears that the characters with the most lines spoken in the series in the family member's themselves.
                </p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Team Member Cards -->

        <div class='container'>
            <center><h2>Team Members</h2>
              <br>
            <div id='networkCharts'>
                <div class='row'>
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://s3.amazonaws.com/grantaguinaldo/data/victor-project-2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Victor Kuo</h5>
                            <p class="card-text">Data engineering and web scraping ninja.</p>
                            <a href="https://github.com/victoryk13/"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/victor-kuo/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://s3.amazonaws.com/grantaguinaldo/data/sungwon-project-2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Sungwon Byun</h5>
                            <p class="card-text">Word cloud wizard and mapbox master.</p>
                            <a href="https://github.com/sungwonb"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/sungwonbyun/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class='row'>

                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://s3.amazonaws.com/grantaguinaldo/data/felipe-project-2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Felipe Sinohui</h5>
                            <p class="card-text">NLP rockstar and resident Simpsons subject matter expert.</p>
                            <a href="https://github.com/fsinohui"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/felipesinohui/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="https://s3.amazonaws.com/grantaguinaldo/data/grant-project-2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Grant Aguinaldo</h5>
                            <p class="card-text">Front end dev and Heroku problem fixer.</p>
                            <a href="https://github.com/grantaguinaldo"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/grantaguinaldo/"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
            </center>
        </div>

        <br>
        <br>

        <center>
            <i class="fab fa-python"></i>
            <i class="fab fa-js-square"></i>
            <i class="fab fa-css3"></i>
            <i class="fab fa-html5"></i>
            <i class="fab fa-github"></i>
        </center>

        <br>
        <br>
        <br>

        <!-- Footer -->
        <div class='footer'>
            <p>Made With ❤ By Team The Simpsons</p>
        </div>

        <!-- Link to jQuery Library -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <!-- Link to Bootstrap Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Link to Bootstrap Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Link to external Javascript file -->

        <script type="text/javascript" src="./static/js/json_data.js"></script>

        <script type="text/javascript" src="./static/js/app.js"></script>

        <script type="text/javascript" src="./static/js/plots.js"></script>


    </body>
</html>

