.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 217, 15) !important;
    color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'Rock Salt', cursive !important;;
}

img {
    width: 100%;
    height: auto;
}

.quote {

    background-color: rgba(255, 217, 15) !important;
    font-family: 'Rock Salt', cursive;
    padding: 70px;

}


#homer {
      width: 290px;
      height: 580px;
}

.jumbotron {
    background-color: rgba(255, 217, 15) !important;
    font-family: 'Rock Salt', cursive;

}

h2, h3 {

    font-family: 'Rock Salt', cursive !important;;
}

