.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color: white;
    text-align: center;
    font-size: 12px;
}

img {
    width: 100%;
    height: auto;
}

.quote {

    background-color: #F5F5F5;
    padding: 70px;

}

